<!-- <%#= cars_review.fields_for @review do |f| %>
    <%#= f.hidden_field(:car_id, value: @car.id)%>
<div class="nested-fields">
	<div class="fields">
		 <div>
    	<%#= f.label :review, 'review: ' %>
        <%#= f.text_field :review %>
    </div>
    <div>
        <%#= link_to_remove_association "remove-review", f %>
</div>

    <%#= f.submit%>
<%# end %>

	 -->